@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

.header {
  padding: 22px 0;
  background-image: linear-gradient(270deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}
.header__content {
  color: #fff;
  text-align: center;
}
.header__phones {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 9.5px;
  gap: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.header__your-city {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  line-height: 16px;
}

.logo {
  padding: 26px 0 15px;
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: center;
}
.logo-text {
  width: 114px;
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
  line-height: normal;
}

.order {
  background-image: url(../images/back-figures.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 11px;
}
.order__title {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  width: 200px;
  margin: 0 auto 8px;
}
.order__subtitle {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 9px;
}
.order__button {
  color: #fff;
  border-radius: 7px;
  background-image: linear-gradient(95deg, #b90160 2.23%, #2e3192 99.51%);
  border: transparent;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 93px;
  height: 28px;
  margin-bottom: 53px;
}

.what-is__title {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.what-is__title--colored {
  background-image: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation {
  padding: 20px 28px 103px;
}
.presentation__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.presentation__img {
  width: 100%;
}
.presentation__card-info {
  padding: 15px 25px 21px 17px;
}
.presentation__card {
  border-radius: 9px;
  box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.2);
}
.presentation__card-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.presentation__card-description {
  color: #767676;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reviews {
  padding: 97px 26px 49px;
  background-image: linear-gradient(94deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}
.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.reviews__item {
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 210px;
  padding: 76px 30px 0;
  box-sizing: border-box;
}

.reviewer__pic {
  position: absolute;
  top: -90px;
  left: 50px;
}

.review__text {
  text-align: center;
  font-size: 12px;
  line-height: normal;
}
.review__reviewer-name {
  display: block;
  text-align: center;
  line-height: normal;
  color: #8e8e8e;
}
.review__decor-line {
  display: flex;
  justify-content: center;
  margin: 18px 0;
}/*# sourceMappingURL=style.css.map */