@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
@import "/Users/annakudravceva/PROJECTS/car-mats-landing/scss/global.scss";
@import "/Users/annakudravceva/PROJECTS/car-mats-landing/scss/variables.scss";

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #000;
  background-color: $white;
}

.header {
  padding: 22px 0 18px;
  background-image: linear-gradient(
    270deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );

  &__content {
    color: $white;
    text-align: center;
  }
  &__phones {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 9.5px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }
  &__phone-link {
    color: $white;
  }
  &__your-city-link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    line-height: 16px;
    color: $white;
  }
  &__visit-social {
    display: none;
    color: $white;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: center;
  margin-bottom: 15px;

  &-text {
    width: 114px;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    line-height: normal;
    color: $black;
  }
}

.button {
  color: $white;
  border-radius: 7px;
  background-image: linear-gradient(95deg, #b90160 2.23%, #2e3192 99.51%);
  border: transparent;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 93px;
  height: 28px;
  margin-bottom: 53px;
  cursor: pointer;
}

.intro {
  padding-bottom: 11px;

  &__background {
    display: none;
  }
  &__background-figures {
    display: none;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
  }
  &__title {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    margin: 0 auto 8px;
    width: 200px;
  }
  &__subtitle {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 9px;
  }
  &__inner-wrapper {
    background-image: url(../images/back-figures.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 23px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav__ancors {
  display: none;
}

.what-is__title {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  &--colored {
    background-image: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.presentation {
  padding: 34px 28px 100px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__img {
    width: 100%;
  }

  &__card-info {
    padding: 13px 25px 21px 17px;
  }

  &__card {
    border-radius: 9px;
    box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.2);
  }

  &__card-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__card-description {
    color: $dark-grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.reviews {
  padding: 97px 26px 49px;
  background-image: linear-gradient(
    94deg,
    rgba(212, 20, 90, 0.25) 0.96%,
    rgba(46, 49, 146, 0.25) 104.83%
  );

  &__list {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }

  &__item {
    border-radius: 9px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    height: 210px;
    padding: 76px 30px 0;
    box-sizing: border-box;
    max-width: 536px;
    margin: 0 auto;
  }
}

.reviewer__pic {
  position: absolute;
  top: -90px;
  left: 58px;
}

.review {
  &__text {
    text-align: center;
    font-size: 12px;
    line-height: normal;
  }
  &__reviewer-name {
    display: block;
    text-align: center;
    line-height: normal;
    color: $light-grey;
  }
  &__decor-line {
    display: flex;
    justify-content: center;
    margin: 18px 0;
  }
}

.footer {
  background-color: $white;
  padding: 61px 0 50px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
  }
  &__phones {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__phone-link {
    color: $black;
    font-size: 14px;
    line-height: 9.5px;
  }
  &__social {
    margin-bottom: 8px;
  }
  &__text {
    width: 225px;
    text-align: center;
  }
  &__span {
    display: block;
    text-align: center;
  }
  &__link {
    display: flex;
    justify-content: center;
  }
}

.modal {
  position: relative;
  margin: auto;
  padding: 42px 215px 48px;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0px 0px 35px 0px rgba(212, 20, 90, 0.25);

  &-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
  }
  &-container-close {
    display: none;
  }
  &__content {
    width: 750px;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: center;
  }
  &__close-button {
    height: 25px;
    width: 25px;
    border: transparent;
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  &__close-button::after,
  &__close-button::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: $light-grey;
    border-radius: 3px;
    background-color: $placeholder;
    position: absolute;
    right: 0px;
    top: 11px;
  }
  &__close-button::after {
    transform: rotate(45deg);
  }
  &__close-button::before {
    transform: rotate(-45deg);
  }
  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 9px;
    font-size: 20px;
    width: 169px;
    height: 42px;
    margin: 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

// .modal__close-button:hover + .modal__close-button::after {
//   background-color: black;
// }
// .modal__close-button:hover .modal__close-button::before {
//   background-color: black;
// }

.application-form {
  &__upper-fields {
    display: flex;
    gap: 25px;
    margin-bottom: 17px;
  }
  &__field {
    padding: 13px 20px 24px;
    border-radius: 9px;
    border: 1px solid #a1a1a1;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
  }
  &__field-group {
    width: 100%;
  }
}

.field-group__message {
  height: 82px;
  margin-bottom: 48px;
}

.field-group__message .application-form__field {
  height: 100%;
}

.field-group__message .application-form__field::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $placeholder;
}

.application-form__field::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $placeholder;
}

.visually-hidden {
  display: none;
}
@media (min-width: 768px) {
  .header {
    padding: 25px 45px;
    &__phones {
      display: none;
    }
    &__your-city-link {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      position: relative;
    }
    &__your-city-link::before {
      content: url(/images/location.svg);
      position: absolute;
      left: -16px;
      width: 10px;
      height: 17px;
    }
    &__visit-social {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &__content {
      display: flex;
      justify-content: flex-end;
      gap: 100px;
      align-items: center;
    }
    &__visit-text {
      width: 100px;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: start;
    }
  }

  .intro {
    padding-bottom: 0;

    &__background {
      display: initial;
      position: absolute;
      right: 0;
      top: 45px;
    }
    &__background-figures {
      display: initial;
      position: absolute;
      right: 22px;
      bottom: 154px;
      width: 368px;
      height: 473px;
    }
    &__inner {
      align-items: start;
      padding: 62px 66px 0;
      position: relative;
    }
    &__inner-wrapper {
      align-items: start;
      padding: 0;
      background-image: none;
      // position: relative;
      // &::after {
      //   content: url(/images/tablet-figures.svg);
      // position: absolute;
      // left: 338px;
      // bottom: 159px;
    }
    &__title {
      text-align: start;
      margin: 0 0 30px;
      font-size: 40px;
      line-height: 40px;
      width: 350px;
    }
    &__subtitle {
      font-size: 24px;
      margin-bottom: 25px;
    }
    &__button {
      width: 141px;
      height: 42px;
      font-size: 15px;
      margin-bottom: 206px;
    }
  }

  .what-is__title {
    font-size: 40px;
    margin: 0 auto;
  }

  .logo {
    gap: 24px;
    margin-bottom: 61px;
    // position: relative;

    &-pic {
      width: 100px;
      height: 60px;
    }
    &-text {
      font-size: 36px;
      width: 160px;
      display: block;
    }
    // &::after {
    //   content: url(/images/tablet-back.svg);
    //   position: absolute;
    //   left: 216px;
    //   top: 25px;
    // }
  }

  .presentation {
    padding: 78px 87px 124px;

    &__cards {
      gap: 61px;
    }
    &__img {
      width: 100%;
      border-radius: 9px 9px 0 0;
    }
    &__card-info {
      padding: 25px 60px 25px 40px;
    }
    &_card-title {
      font-size: 36px;
    }
  }

  .reviewer__pic {
    left: 34%;
  }

  .review__text {
    width: 445px;
    font-size: 18px;
  }

  .reviews {
    padding-bottom: 72px;

    &__item {
      padding: 76px 45px 0;
    }
  }

  .footer {
    padding: 115px 70px 50px 45px;

    &__inner {
      flex-direction: row;
    }
    &__phones-box {
      order: 1;
    }
    &__socialmedia-box {
      order: 0;
    }
    &__about-box {
      order: 2;
    }
    &__inner {
      justify-content: space-between;
      align-items: baseline;
    }
    &__title {
      text-align: start;
    }
    &__text {
      text-align: left;
      margin-bottom: 15px;
    }
    &__span {
      text-align: left;
    }
  }
}

@media (min-width: 1439px) {
  .header {
    padding: 23px 120px 23px 128px;

    &__content {
      justify-content: space-between;
    }
    &__phones {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      gap: 12px;
    }
    &__phones::before {
      content: url(../images/phone-icon.svg);
    }
    &__phone {
      display: flex;
      align-items: center;
    }
    &__phone-link {
      font-size: 15px;
    }
    &__your-city-link {
      font-size: 15px;
    }
  }
  .header__your-city-link::before {
    content: url(../images/location.svg);
    width: 15px;
    height: 25px;
    left: -20px;
  }

  .intro {
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__inner {
      padding: 47px 120px 120px;
    }

    &__title {
      font-size: 50px;
      line-height: 47px;
      width: 680px;
    }
    &__button {
      width: 179px;
      height: 53px;
      font-size: 20px;
    }
    &__background {
      right: 43px;
      top: 68px;
    }
    &__background-figures {
      width: 533px;
      height: 686px;
      bottom: 210px;
      right: 157px;
    }
    &__button {
      margin-bottom: 250px;
    }
  }

  .logo {
    margin-bottom: 189px;
  }

  .nav__ancors {
    display: initial;
  }

  .ancors {
    &__list {
      display: flex;
      gap: 25px;
    }
    &__link {
      font-size: 18px;
      line-height: normal;
      color: $dark-grey;
    }
  }

  .what-is__title {
    font-size: 50px;
  }

  .presentation {
    padding-top: 0;
    padding-bottom: 225px;

    &__cards {
      flex-direction: row;
      justify-content: center;
    }
    &__card {
      width: 344px;
      height: 414px;
    }
    &__card-info {
      padding: 25px 30px 35px 20px;
    }
  }

  .reviews {
    overflow-x: scroll;
    padding-left: 0;
    padding-right: 0;

    &__list {
      flex-direction: row;
    }
  }

  .footer {
    padding: 172px 243px 94px;

    &__link {
      justify-content: start;
    }
  }
}
